[DEFAULT]
# Will be deprecated sometime in 2015 (probably)
user = 
pswd = 

## OAuth2 settings:
# Client / Secret from your own app
oauth_client_id =
oauth_client_secret =
# Corresponds with the callback URL in the Reddit app
oauth_redirect_uri = http://127.0.0.1:65010
log_requests = 0
# After running get_secret.py you should find your auth ID below
